body{
  background-image: url("../img/background.jpg");
}

h1, h2, p, span, i{
  color: white;
}
hr{
  color: #f1f1f1;
  background-color: #f1f1f1;
}
.temperature{
  font-size: 3em;
}

.weather, .main{
  /*outline: 1px solid rgba(43,43,43,0.3);*/
  text-align: center;
  -webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.3);
}
.main{
  margin-left: 20px;
}

.div_temp{
  padding: 20px 0px 20px 0px;
}

.main-text{
  margin: 33px 0px 33px 0px; 
}
.main-text>p{
    font-size: 1.5em;
}

footer{
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin-top: 100px;
}

.wi-fw{
  font-size: 4em;
}
